<h1>Welcome To Recipe Page</h1>
<%= link_to "Add" , new_recipe_path %>

  <div class="recipe-container">
    <% @recipes.each do |recipe| %>
      <div class="recipe">
        <%= link_to recipe_path(recipe) do %>
          <div class="info">
            <h2>
              <%= recipe.name %>
            </h2>
            <p> Description: <%= recipe.description %>
            </p>
          </div>
        <% end %>
        <%= form_with model: recipe, url: recipe_path(recipe), method: :delete do |form| %>
          <%= form.submit "Remove" %>
        <% end %>
      </div>
    <% end %>
  </div>